<!DOCTYPE html>
<html>
<head>
  <% if @friend %>
    <title>Chat <%= @friend.name %> </title>
  <% end %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
  <%= stylesheet_link_tag    "application", media: "all" %>

  <style>
   body { padding-top: 10px; }
   footer { margin-top: 10px; }
  </style>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </div>

  <footer>
    <div class="container">
      SightCall 2015
    </div>
  </footer>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>
